.footer {
  background-color: $color-secondary;
  grid-row: 6;
  grid-column: 2 / -1;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  justify-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  &__link,
  &__link:link,
  &__link:visited {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-family: $font-display;
    text-align: center;
    display: block;
    padding: 1.5rem;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    transform: translateY(-1rem);
    background-color: rgba($color: #fff, $alpha: 0.05);
  }
}
