.story {
  &__pictures {
    background-color: brown;
    grid-row: 3;
    grid-column: 2 / 7;
  }

  &__content {
    background-color: $color-grey-light-1;
    grid-row: 3;
    grid-column: span 5;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}
